{% extends "base.html" %}

{% block title %}Add Question | Framegrabber{% endblock title %}

{% block content %}
{% if created %}
<div class="form-success">
    <div class="row">
        <h3>Thanks! A new framegrabber test question has been created.</h3>
    </div>

    <div class="row">
        <a href="{% url 'testing_add_test' %}" class="btn btn-success">Create another one!</a>
    </div>
</div>

{% else %}

<div class="col-md-3">
    <form method="post" action="{% url 'testing_add_test' %}" role="form">

        {% if form.url.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.url.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_url">URL: </label>
            <input class="form-control" id="id_url" type="text" name="url" maxlength="1000"
            {% if form.url.value %}
            value="{{form.url.value}}"
            {% endif %}
            >
        </div>

        {% if form.answer.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.answer.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_answer">Answer (Video or No_Video): </label>
            <input class="form-control" id="id_answer" type="text" name="answer" maxlength="100"
            {% if form.answer.value %}
            value="{{form.answer.value}}"
            {% endif %}
            >
        </div>

        <div class="row">
            <div class="col-md-1">
                <input id="form-submit" class="btn btn-primary btn-submit" type="submit" ></input>
            </div>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endif %}
{% endblock %}