{% extends "base.html" %}

{% block title %}QA | Question {{ test_id }}{% endblock title %}

{% block content %}

<style>
.job-info {
  margin-bottom: 10px;
}
.job-info table, .job-info td, .job-info th {
  border: 1px solid #666;
}
.job-info td, .job-info th {
  padding: 2px;
}
</style>

<div id="qa">
	<div class="job-info">
		<table>
			<tr>
				<th>ID</th>
				<th>URL</th>
				<th>Status</th>
				<th>Task Complete</th>
			</tr>
			<tr>
				<td>{{ current_test.id }}</td>
				<td><a href="{{ current_test.url }}">{{ current_test.url }}</a></td>
				<td>{{ current_test.status }}</td>
				<td>{{ current_test.task_complete }}</td>
			</tr>
		</table>
	</div>
	<form method="post" action="{% url 'testing_framegrabber_test' test_id%}">
		{% csrf_token %}
		{{ form.errors }}
		{{ form.as_p }}
		<p><input type="submit" class="btn btn-large btn-primary" value="Submit"></p>
	</form>
</div>

{% endblock content %}
