{% extends "base.html" %}

{% block title %}QA | Testing{% endblock title %}

{% block page_header %}Testing Home{% endblock page_header %}

{% block content %}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Instructional Videos
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <a href= 'https://www.dropbox.com/s/5ogfncl4n4ln15n/test1.mp4'>Framegrabber QA</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Tests
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <h5> Please watch all of the videos before continuing. You may only take each test once, and cannot stop once you've begun. </h5>
      	<a href="{% url 'testing_framegrabber_test' 1%}">Framegrabber Test</a>

      </div>
    </div>
  </div>

   

{% endblock content %}