{% extends "base.html" %}

{% block title %}Comments{% endblock title %}
{% block page_header %}Comments{% endblock page_header %}

{% block content %}
{% if no_comments %}
<h1> NO COMMENTS </h1>
<a href="/hype/add_comment/{{topic_id}}">Add One!</a>
<p>{{topic_id}}</p>
{% else %}
	{% for comment in comments %}
    <div class="row">
    	<p> {{comment.content}} </p>
    </div>
    {% endfor %}</br>
    <a href="/hype/add_comment/{{topic_id}}">Add Comment  |</a>
    <a href="/hype/home">   Back to Topics</a>
{% endif %}
{% endblock content %}