{% extends "base.html" %}

{% block title %} Invite | Create Account {% endblock %}

{% block page_header %}Create Account{% endblock page_header %}

{% block content %}
{% if created %}
<div class="form-success">
    <div class="row">
        <h3 style='color:red'>Warning: You may encounter explicit content while working</h3>
        <p>Do you accept?</p>
        <a id="form-submit" class="btn btn-primary btn-success" href="{% url 'invite_explicit' 1 %}">Yes</a>
        <a id="form-submit" class="btn btn-danger btn-delete" href="{% url 'invite_explicit' user_id %}"> No </a>
    </div>
</div>
{% else %}
{% if form.non_field_errors %}
<div class="row">
    {{ form.non_field_errors }}
</div>
{% endif %}
<div class="col-md-3">
    <form method="post" action="{% url 'invite_create_account' invite_code %}" role="form">

        {% if form.email.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.email.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_email">Email: </label>
            <input class="form-control" id="id_email" type="text" name="email" maxlength="100"
            {% if form.email.value %}
            value="{{form.email.value}}"
            {% endif %}
            >
        </div>

        {% if form.password.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.password.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_password">Password: </label>
            <input class="form-control" id="id_password" type="password" name="password" maxlength="100"
            {% if form.password.value %}
            value="{{form.password.value}}"
            {% endif %}
            >
        </div>

        {% if form.skype.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.skype.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_skype">Skype Username:</label>
            <input class="form-control" type="text" name="skype" id="id_skype"
            {% if form.skype.value %}
            value="{{form.skype.value}}"
            {% endif %}
            >
        </div>

        {% if form.phone.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.phone.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_phone">Phone Number: </label>
            <input class="form-control" id="id_phone" type="text" name="phone" maxlength="100"
            {% if form.phone.value %}
            value="{{form.phone.value}}"
            {% endif %}
            >
        </div>

        {% if form.gtalk.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.gtalk.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_gtalk">Google+: </label>
            <input class="form-control" id="id_gtalk" type="text" name="gtalk" maxlength="100"
            {% if form.gtalk.value %}
            value="{{form.gtalk.value}}"
            {% endif %}
            >
        </div>

        <div class="row">
            <div class="col-md-1">
                <a id="form-submit" class="btn btn-primary btn-submit" href="#">Submit</a>
            </div>
        </div>
        {% csrf_token %}
    </form>
    {% endif %}
    {% endblock %}

{% block extra_javascript %}
$(document).ready(function() {
    $('#form-submit').click(function(){
        $('form')[0].submit();
    });
});
{% endblock extra_javascript %}
