{% extends "base.html" %}

{% block title %} Invite | Delete {% endblock %}

{% block page_header %}Delete a Invite{% endblock page_header %}

{% block content %}
{% if deleted %}
<div class="row form-success">
    <h3 class="span5">The invite <strong>{{invite.code}}</strong> has been deleted.</h3>
    <a href="{% url 'invite_delete' 0%}" class="span3 btn btn-success">Back to All Invites</a>
</div>
{% else %}
    <table class="table table-bordered table-striped">
      <thead>
          <tr>
            <th>Code</th>
            <th>Expires On</th>
            <th>Created On</th>
            <th>Created By</th>
            <th># of Days</th>
            <th># of Uses</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
    {% for i in invites %}
          <tr>
            <td>{{ i.code }}</td>
            <td>{{ i.expiration }}</td>
            <td>{{ i.created }}</td>
            <td>{{ i.created_by }}</td>
            <td>{{ i.number_of_days }}</td>
            <td>{{ i.number_of_uses }}</td>
            <td><a href="{% url 'invite_delete' i.id%}" class="btn btn-danger btn-delete"><i class="icon-trash icon-white"></i> Delete</a></td>
          </tr>
    {% endfor %}
        </tbody>
      </table>

    <div class="modal hide fade deleteModal" style="display: none; ">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Are you sure?</h3>
      </div>
      <div class="modal-body">
        <p>This will premanently delete invite <strong class="delete_data"></strong> from the system!</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger delete_action"><i class="icon-trash icon-white"></i> Delete</a></a>
        <a href="#" class="btn btn-close">Close</a>
      </div>
    </div>
{% endif %}
{% endblock %}

