{% extends "base.html" %}

{% block title %}
{% if updated %}
Invite | Update | Success
{% else %}
Invite | Update | Invite {{invite.id}}
{% endif %}
{% endblock %}

{% block page_header %}Update Invite {{invite.code}}{% endblock page_header %}

{% block content %}
{% if updated %}
<div class="form-success">
    <div class="row">
        <div class="span12">
            <h1>Updated Invite {{invite.code}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h3>Thanks! A new invite with code <strong>{{invite.code}}</strong> has been created.</h3>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h3>It expires on <strong>{{invite.expiration}}</strong>.</h3>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <a href="{% url 'invite_updatable' %}" class="btn btn-success">Update another one!</a>
        </div>
    </div>
</div>
{% else %}
        {% if form.non_field_errors %}
    <div class="row">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <form method="post" action="{% url 'invite_update' invite.id %}" class="bigform">

            {% if form.code.errors %}
            <div class="row">
                <div class="span9 formerror">
                {% for error in form.code.errors %}
                    <h5>{{ error|escape }}</h5>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="row formrow">
                <div class="span5">
                    <label for="id_code">New code for this invite?</label>
                </div>
                <div class="span4">
                    <input type="text" class="span4" id="id_code" name="code" maxlength="100" value="{{form.code.value}}">
                </div>
            </div>

        {% if form.expiration.errors %}
        <div class="row">
            <div class="span9 formerror">
            {% for error in form.expiration.errors %}
                <h5>{{ error|escape }}</h5>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="span5">
                <label for="id_expiration">Change expiration date?</label>
            </div>
            <div class="span4">
                <input type="text" class="span4" name="expiration" id="id_expiration" value="{{form.expiration.value|date:"m/d/Y" }}">
            </div>
        </div>

        {% if form.number_of_days.errors %}
        <div class="row">
            <div class="span9 formerror">
            {% for error in form.number_of_days.errors %}
                <h5>{{ error|escape }}</h5>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="span5">
                <label for="id_number_of_days">Change number of days?</label>
            </div>
            <div class="span4">
                <input type="text" class="span4" name="number_of_days" id="id_number_of_days" value="{{form.number_of_days.value }}">
            </div>
        </div>

        {% if form.number_of_uses.errors %}
        <div class="row">
            <div class="span9 formerror">
            {% for error in form.number_of_uses.errors %}
                <h5>{{ error|escape }}</h5>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="span5">
                <label for="id_number_of_uses">Change expiration date?</label>
            </div>
            <div class="span4">
                <input type="text" class="span4" name="number_of_uses" id="id_number_of_uses" value="{{form.number_of_uses.value }}">
            </div>
        </div>

        <div class="row">
            <div class="offset5 span2">
                <a id="form-submit" class="btn btn-primary btn-submit" href="#">Update!</a>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endif %}
{% endblock %}

{% block extra_javascript %}
$(document).ready(function() {
    $('#form-submit').click(function(){
        $('form')[0].submit();
    });
});
{% endblock extra_javascript %}
