{% extends "base.html" %}

{% block title %}Invites | Use{% endblock title %}
{% block page_header %}Use an Invite{% endblock page_header %}

{% block content %}
<div class="col-md-3">
	<form method="post" action="{% url 'invite_use' %}" role="form">
		{% csrf_token %}

<!--	{% if form.errors %}
		<div class="alert alert-danger">
			<h5>Invalid Code</h5>
		</div>
		{% endif %}  -->

		<div class="form-group">
			<label for="id_code">Enter code: </label>
			<input class="form-control" id="id_code" type="text" name="code" maxlength="1024"
			{% if form.code.value %}
			value="{{form.value}}"
			{% endif %}
			>
			<br>

<!-- Button should redirect to href = /invite/use_code/{{ form.code.value }} -->
			<a href="/invite/use_code/{{ value }}" class="btn btn-primary btn-submit"><i class="icon-edit icon-white"></i>Submit</a>
		</div>
	</form>
</div>

{% endblock content %}